{% extends 'trading_tool/html/index.html' %}
{% load static %}
{% block content %}
<!--  Header End -->
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 col-sm-12 d-flex align-items-stretch">
        <div class="card w-100">
          <div class="card-body p-4 mb-4">
            <div class="mb-4">
              <h5 class="card-title fw-semibold">Option Chain</h5>
            </div>
            <div class="row">
            <div class="col-sm-6">

            {% comment %} {{optons_data.data.optionsChain}} {% endcomment %}
            {% for option in optons_data.data.optionsChain %}
            {% if option.option_type == "CE"%}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">CE</h5>
                    <p class="card-text">STRIKE:{{option.strike_price}}</p>
                    <p class="card-text">Expiry Date: 02-05-2024</p>
                    <p class="card-text">{{option.ltp}}</p>
                </div>
            </div>
            {% endif %}
            {% endfor %}


            </div>
            <div class="col-sm-6">
            {% for option in optons_data.data.optionsChain %}
                {% if option.option_type == "PE"%}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">PE</h5>
                        <p class="card-text">Call OI:{{option.strike_price}}</p>
                        <p class="card-text">Expiry Date: 02-05-2024</p>
                        <p class="card-text">{{option.ltp}}</p>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
            </div>
            </div>
            </ul>
          </div>
        </div>
      </div>
</div>
</div>


{% endblock %}
