{% extends 'trading_tool/html/index.html' %}
{% load static %}
{% block content %}
<!--  Header End -->

<!-- Include CSRF token meta tag here -->
<head>
    <meta name="csrf-token" content="{{ csrf_token }}">
</head>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 col-sm-12 d-flex align-items-stretch">
        <div class="card w-100">
            <div class="card-body p-4 mb-4">
              <div class="d-flex justify-content-between align-items-center">
                <p class="card-title fw-semibold">OPTION CHAIN</p>
                <div class="d-flex align-items-center">
                    {% for option in options_data.data.optionsChain %}
                    {% if option.option_type == ""%}
                  <div class="container-fluid">
                    <div class="row">
                        <!-- Web View -->
                        <div class="col-lg-12 d-none d-lg-block">
                            <div class="row">
                                <div class="col-md-3">
                                    <input class="form-control my-3" disabled name="expiry" value="{{expiry_response}}">
                                </div>
                                <div class="col-md-3">
                                    <input class="form-control my-3" disabled name="ex_symbol" value="{{ option.ex_symbol }}">
                                </div>
                                <div class="col-md-3">
                                    
                                    <input class="form-control my-3" disabled name="ltp" value="{{ option.ltp }}">
                                </div>

                            </div>
                        </div>
                        <!-- Mobile View -->
                        <div class="col-12 d-block d-lg-none">
                            <div class="row">
                                <div class="col-12 mt-5">
                                    <input class="form-control my-3 " disabled name="expiry" value="{{expiry_response}}">
                                </div>
                                <div class="col-6">
                                    <input class="form-control my-3" disabled name="ex_symbol" value="{{ option.ex_symbol }}">
                                </div>
                                <div class="col-6">
                                    <input class="form-control my-3" disabled name="ltp" value="{{ option.ltp }}">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                  {% endif %}
                  {% endfor %}
            </div>
        </div>

        <div class="container-fluid mb-2 ">
            <div class="row">
            {% comment %} <div class="container-fluid">
                <div class="alert alert-info p-0 my-2" role="alert">
                    <button  style="height: 50px;" id="position" disabled class="btn btn-Primary btn-block w-100 h-10 fw-bolder fs-4"> {{text}}</button>
                </div>
            </div> {% endcomment %}
            <div class="col-sm-6">
            {% for option in options_data.data.optionsChain %}
            {% if option.option_type == "CE"%}
            <div class="alert alert-success" role="alert">
                <div class="row">
                    <div class="col-4 d-flex justify-content-center align-items-center">
                        <button class="btn btn-success btn-lg btn-block w-100 h-100 fw-bolder buy-button" style="border-radius: 6px">Buy</button>
                    </div>
                    <div class="col-4  text-center">
                        <input type="hidden" name="der-symbol" value="{{ option.symbol }}">
                        <h5 class="card-title text-muted fw-bolder">CE&nbsp;{{option.strike_price}}</h5>
                        <p class="card-text fs-4 fw-bolder ">LTP:{{option.ltp}}</p>
                        {% comment %} <p class="card-text">Expiry: 02-05-2024</p> {% endcomment %}
                    </div>
                    <div class="col-4 d-flex justify-content-center align-items-center">
                        <button class="btn btn-danger btn-lg btn-block w-100 h-100 fw-bolder sell-button" style="border-radius: 6px">Sell</button>
                    </div>
                </div>
            </div>        
            {% endif %}
            {% endfor %}
            </div>
            <div class="col-sm-6">
            {% for option in options_data.data.optionsChain %}
            {% if option.option_type == "PE"%}
                <div class="alert alert-danger" role="alert">
                    <div class="row">
                        <div class="col-4 d-flex justify-content-center align-items-center">
                            <button class="btn btn-success btn-lg btn-block w-100 h-100 fw-bolder buy-button" style="border-radius: 6px">Buy</button>
                        </div>
                        <div class="col-4 text-center">
                            <input type="hidden" name="der-symbol" value="{{ option.symbol }}">
                            <h5 class="card-title text-muted fw-bolder">PE&nbsp;{{option.strike_price}}</h5>
                            <p class="card-text fs-4 fw-bolder">LTP:{{option.ltp}}</p>
                        </div>
                        <div class="col-4 d-flex justify-content-center align-items-center">
                            <button class="btn btn-danger btn-lg btn-block w-100 h-100 fw-bolder sell-button" style="border-radius: 6px">Sell</button>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>


            {% comment %} <div class="container-fluid">
            <div class="alert alert-primary" role="alert">
                <div class="row" style="height:75px;">
                    <div class="col-6 d-flex justify-content-center align-items-center">
                        <button class="btn btn-primary btn-lg btn-block w-100 h-100 fw-bolder buy-button" style="border-radius: 6px;  ">TRAIL LIMIT</button>
                    </div>
                    
                    <div class="col-6 d-flex justify-content-center align-items-center">
                        <button class="btn btn-primary btn-lg btn-block w-100 h-100 fw-bolder sell-button" style="border-radius: 6px;">TRAIL TOP</button>
                    </div>
                </div>
            </div>
            </div> {% endcomment %}
            
            
            </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        // Handle click event for buy buttons
        $('.buy-button').click(function(e) {
            e.preventDefault();
            
            // Get the value of the hidden input field
            var derSymbol = $(this).closest('.alert').find('input[name="der-symbol"]').val();
            
            // Get the value of ex_symbol and ltp fields
            var exSymbol = $('input[name="ex_symbol"]').val();
            var ltp = $('input[name="ltp"]').val();
            
            // Get CSRF token
            var csrfToken = $('meta[name="csrf-token"]').attr('content');
            
            // Make AJAX request
            $.ajax({
                type: 'POST',  // Adjust the request type as needed
                url: '{% url "instant_buy_order" %}',  // Replace 'your_django_view_url' with the actual URL of your Django view
                data: {
                    'der_symbol': derSymbol,  // Pass the value of der-symbol field
                    'ex_symbol': exSymbol,  // Pass the value of ex_symbol field
                    'ltp': ltp,  // Pass the value of ltp field
                    'csrfmiddlewaretoken': csrfToken  // Pass the CSRF token
                },
                success: function(response) {
                    // Handle success response if needed
                    console.log('AJAX request successful.', response);
                    swal({
                        position: "top-end",
                        icon: "success",
                        title: response.response,
                        showConfirmButton: false,
                        timer: 500,
                        
                    });
                    
                },
                error: function(xhr, status, error) {
                    // Handle error response if needed
                    console.error('AJAX request failed.', error);
                    swal({
                        position: "top-end",
                        icon: "error",
                        title: "some error occurred!",
                        showConfirmButton: false,
                        timer: 500,
                        
                    });
                }
            });
        });

        // Handle click event for sell buttons
        $('.sell-button').click(function(e) {
            e.preventDefault();
            console.log('Sell button clicked.');

            // Add your AJAX call here
            $.ajax({
                type: 'GET',  // Adjust the request type as needed
                url: '{% url "close_all_positions" %}',
                success: function(response) {
                    // Handle success response if needed
                    console.log('Position closed successfully.', response.message);
                    swal({
                        position: "top-end",
                        icon: "success",
                        title: response.message,
                        showConfirmButton: false,
                        timer: 500,
                        
                    });
                },
                error: function(xhr, status, error) {
                    // Handle error response if needed
                    console.error('Failed to close position. Error:', error);
                    swal({
                        position: "top-end",
                        icon: "error",
                        title: "some error occurred!",
                        showConfirmButton: false,
                        timer: 500,
                        
                    });
                }
            });
        });
    });
</script>
{% comment %} <script>
    // Function to update the data container with the received message
    function updateData(message) {
        var dataContainer = document.getElementById("data-index");
        var messageElement = document.querySelector('#index'); // Selecting the existing h1 element
        message = message.replace(/'/g, '"');
        var message = JSON.parse(message);
        console.log("messagemessagemessage", message.type);
        // Check if the type is "if"
        if (message.type === 'if') {
            // Select the element by its ID
            var container = document.querySelector('#index-cont');
            // Remove the 'display: none;' style
            container.style.display = 'block';
            var ltpValue = message['ltp'];
            var symbol = message['symbol'];
            symbol = symbol.replace('NSE:', '').replace('-INDEX', '');
            var indexData = symbol + " - " + ltpValue;
            console.log("messagemessagemessage",symbol);
            console.log("indexDataindexData", indexData)
            messageElement.textContent = indexData ; // Replacing the content with the new message
        } else {
            // Do something else if the type is not "if"
            console.log("Type is not 'if'.");
        }
    }
    var urlParts = window.location.pathname.split('/');

    var domain = '//' + window.location.hostname ;
    console.log(domain);

    var lastKeyword = window.location.pathname.split('/').filter(Boolean).pop();
  
    // WebSocket connection using secure WebSocket (wss://) protocol
    var socket = new WebSocket("wss://"+domain+"/ws/fyersindexdata/"+lastKeyword+"/");
  
    // Event handler for receiving messages from the WebSocket server
    socket.onmessage = function(event) {
        console.log("Received message:", event.data);
        var message = event.data;
        updateData(message);
    };
  
    // Close the WebSocket connection when the page is unloaded (refreshed or navigated away)
    window.addEventListener('unload', function() {
        socket.close();
    });
</script>
<script>
    // Function to update the data container with the received message
    function updatePosData(message) {
        var dataContainer = document.getElementById("data-position");
        var messageElement = document.querySelector('#position'); // Selecting the existing h1 element
        console.log("ppppppppppppppppppppppppp", message);
        if (message.includes("Error:")) {
            console.log("Error exists in the string.");
            var index_container = document.querySelector('#position-cont');
            // Remove the 'display: none;' style
            index_container.style.display = 'block';
            messageElement.textContent = "No open positions";
        } else {
            message = message.replace(/'/g, '"');
            var messageObject = JSON.parse(message);
            if (messageObject.hasOwnProperty('code') && messageObject.code === 1605) {
                var index_container = document.querySelector('#position-cont');
                // Remove the 'display: none;' style
                index_container.style.display = 'block';
                messageElement.textContent = "No open positions";
            } else if (messageObject.hasOwnProperty('positions') && Object.keys(messageObject.positions).length !== 0) {
                index_container.style.display = 'block';
                console.log("The JSON data contains positions.", messageObject);
                var pl_unrealized = messageObject['pl_unrealized'];
                var positionData = "P/L " + pl_unrealized;
                messageElement.textContent = positionData;
            } else {
                console.log("Some error occurred.");
            }
        }
    }
    var domain = '//' + window.location.hostname ;
    // WebSocket connection using secure WebSocket (wss://) protocol
    var socket = new WebSocket("wss://"+domain+"/ws/fyerspositionsdata/");

    // Event handler for receiving messages from the WebSocket server
    socket.onmessage = function(event) {
        console.log("position Received message:", event);
        var message = event.data;
        updatePosData(message);
    };

    // Explicitly close the connection when navigating away
    window.addEventListener('beforeunload', function() {
        socket.close();
    });
</script> {% endcomment %}




{% endblock %}
